body {
  background-color: black;
}

*{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
}
.landing-page{
  width: 100%;
  height: 100vh;
  background-image: url(img/background2.jpg);
  background-attachment: fixed;
  position: relative;
  overflow: hidden; 
}
@keyframes anim {
  50%{
    transform: scale(2);
  }
  100%{
    transform: scale(1);
  }
}

.page-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
  width: 100%; 
  max-width: 800px;
  text-align: center;
  padding: 0 40px;
  box-sizing: border-box;
}
.page-content h1{
  color: black;
  text-transform: uppercase;
  font-size: 80px;
  font-weight: 900;
  margin-bottom: 20px;
  font-family: "Nunito", "Adobe Blank";
}
.page-content p:hover {
  background-color: black;
  opacity: 70%;
  transition-duration: 1s;
}

.page-content button{
  display: inline-block;
  text-decoration: none;
  color: grey;
  border: 2px solid grey;
  text-transform: uppercase;
  padding: 10px 20px;
  transition: 0.4s linear;
}
.page-content button:hover{
  color: #fff;
  background: grey;
}
.text{
  padding: 10px;
  text-align: justify;
}
.text div{
  margin-bottom: 6px;
}
.et-hero-tabs,
.et-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background: #eee;
		text-align: center;
    padding: 0 2em;

    h1 {
        font-size: 2rem;
        margin: 0;
        letter-spacing: 1rem;
    }

    h3 {
        font-size: 1rem;
        letter-spacing: 0.3rem;
        opacity: 0.6;
    }
}
.et-slide:hover{
  animation-delay: unset;
  color: grey;
}

.et-hero-tabs-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: rgba(191, 188, 188, 0.475);
    z-index: 10;
    &--top {
        position: fixed;
        top: 0;
    }
}

.et-hero-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
		transition: all 0.5s ease;
		font-size: 0.8rem;
	  &:hover {
			color:white;
      background: rgba(102,177,241,0.8);
			transition: all 0.5s ease;
    }
}

.et-hero-tab:hover{
  animation-delay: unset;
  color: grey;;
  animation-duration: 1s;
}

.et-hero-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #66B1F1;
    transition: left 0.3s ease;
}

@media (min-width: 800px) {
	.et-hero-tabs,
	.et-slide {
    h1 {
        font-size: 3rem;
    }
    h3 {
        font-size: 1rem;
    }
  }
  
	.et-hero-tab {
		font-size: 1rem;
  }
}

.bane{
  background-color: rgb(195, 195, 195);
  background-attachment: fixed;
  opacity:100%;
  height: 50px;
  
}
/* .bane:hover{
  background-color: grey;
  opacity: 80%;
  transition-duration: 1s;
} */